doctype html
html
    head
        style
            include main.css
    body
        div.main
            div.content
                block content
            div.footer
                p You received this email because you are subscribed to receive our emails.
                    br
                    | To unsubscribe,
                    |
                    a(href='https://www.google.com') click here
                    | .
                    br
                    | Company Name
