doctype html
html
    head
        style
            include main.css
    body
        div.main
            h2 Hi, #{name}!
            p To reset your password,
                |
                a(href=`http://localhost:5000/auth/password/validate-token?action_token=${action_token}`) click this link
                | .
